body {
    font-size: 18px;
    font-family: Georgia;
    background: #dddddd;
    color: #777777;
}

header {
    border: 1px solid #cccccc;
    height: 50px;
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #ffffff;
}

.container {
    border: 1px solid #cccccc;
    width: 40%;
    margin: -15px auto;
    background: #ebebeb;
    text-align: left;
    padding: 30px;
    height: auto;
    font-size: 25px;
    font-family: Georgia;
    border-radius: 10px;
}

.heading {
    color: #4aaaa5;

}

h4 {
    color: #4aaaa5;
    height: 10px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #777777;
}

#box {
    height: 38px;
    width: 200px;
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -80px;
    left: 300px;
    border-radius: 5px;
    color: floralwhite;
    font-size: 30px;
}

input[type=text],textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}
input[type=submit]{
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    font-size: 16px;
}

footer {
    border: 1px solid #cccccc;
    border-top: 10px solid #4aaaa5;
    height: 30px;
    text-align: center;
    background: #666666;
    position: relative;
    bottom: -70px;
    color: floralwhite;
    padding-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 16px;
}



