body {
    font-size: 18px;
    font-family: Georgia;
    background: #dddddd;
    color: #777777;
}

header {
    border: 1px solid #cccccc;
    height: 50px;
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #ffffff;
}

.box {
    height: 38px;
    width: 200px;
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -80px;
    left: 300px;
    border-radius: 5px;
    color: floralwhite;
    font-size: 30px;
}

h2 {
    color: #4aaaa5;
}

a {
    text-decoration: none;
    color: #777777;
}
.container {
    margin: auto;
    width: 800px;
    background-color: #ffffff;
    padding: 20px;
}

    
footer {
    border: 1px solid #cccccc;
    border-top: 10px solid #4aaaa5;
    height: 30px;
    text-align: center;
    background: #666666;
    position: relative;
    bottom: -83px;
    color: floralwhite;
    padding-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 16px;
}