body {
    font-size: 18px;
    font-family: Georgia;
    background: #dddddd;
    color: #777777;
}

header {
    border: 1px solid #cccccc;
    height: 50px;
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #ffffff;
}

.box {
    height: 38px;
    width: 200px;
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -80px;
    left: 300px;
    border-radius: 5px;
    color: floralwhite;
    font-size: 30px;
}

h2 {
    color: #4aaaa5;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #777777;
}

.container {
    margin: auto;
    width: 800px;
    background-color: #ebebeb;
    padding: 20px;  
    border-radius: 10px; 
    height: 700px;
    background-image: url(spiration-light.png)
}

img {
    margin: 10px;
  
} 

footer {
    border: 1px solid #cccccc;
    border-top: 10px solid #4aaaa5;
    height: 30px;
    text-align: center;
    background: #666666;
    position: relative;
    bottom: -83px;
    color: floralwhite;
    padding-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 16px;
}



.gsdpuppy {
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    height: auto;
    width: 198px;
    position: relative;
    top: -70px;
    left: 10px;
}

.froggypuppy {
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    height: auto;
    width: 198px;
    position: relative;
    top: -70px;
    left: 10px;
}

.happypuppy {
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    height: auto;
    width: 198px;
    position: relative;
    top: -70px;
    left: 10px;  
}

.threepuppies {
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    height: auto;
    width: 198px;
    position: relative;
    top: -70px;
    left: 10px;
}

#frog {
    position: relative;
    top: -245px;
    left: 230px;
}

#happy {
    position: relative;
    top: -270px;
}

#three {
    position: relative;
    top: -515px;
    left: 230px;
}