body {
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    background: #dddddd;
    /* color: #777777; */
    background: linear-gradient(to right, darkgrey, lightgrey, white, lightgrey, darkgrey); 
}

header {
    border: 1px solid #ebebeb94;
    height: 50px;
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #ebebeb94;
    font-size: 22px;
    color: #777777;
}

.container {
    border: 1px solid #cccccc;
    width: 50%;
    margin: auto;
    background: #ebebeb;
    text-align: left;
    padding: 30px;
    height: auto;
    font-size: 30px;
    font-family: 'Handlee', cursive;
    font-weight: 600;
    border-radius: 10px;
    background-image: url(spiration-light.png);
    line-height: 23px;
    color: #777777
}

.heading {
    color: #4aaaa5;

}

h4 {
    color: #4aaaa5;
    height: 10px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #777777;
}

p {
    font-size: 16px;
}

img {
    width: 150px;
    height: 170px;
    float: left;
    margin-right: 15px;
}

#box {
    height: 38px;
    width: 200px;
    border: 1px solid #4aaaa5;
    background: #4aaaa5;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -80px;
    left: 300px;
    border-radius: 5px;
    color: floralwhite;
    font-size: 30px;
    text-shadow: 2px 2px 5px #777777;
}

footer {
    border: 1px solid #cccccc;
    border-top: 10px solid #4aaaa5;
    height: 30px;
    text-align: center;
    background: #666666;
    position: relative;
    bottom: -70px;
    color: floralwhite;
    padding-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 16px;
}




